@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    /*.item {
              width: 100%;
              height: 40px;
              background-color: white;
              border: 1px solid black;
              color: black;
              position: relative;
              cursor: move;
              background-color: $dedede;
          }

          .selected {
              background-color: #ff9900;
          }*/
    /*.ui-droppable{
              display: inline-block;
          }
          .list {
              display: -webkit-inline-box;
              height: auto;
              width: 20%;
              border: 1px solid yellow;
              position: absolute;
              top: 20px;
              color: white;
              z-index: 1;
              margin-bottom:10px;
          }


          #list1 {
              height:40px;
              width:50px;
              padding-bottom:20px;
          }

          .list-pad{
              margin-top:20px;
              padding-bottom:50px;
              width:auto;
              height:50px;
          }*/

    table tr td {
        padding: 0px !important;
        height: auto;
        width: auto;
    }

    .touched {
        background-color: #DFFF00;
        color: white;
    }

    .selected {
        background-color: #DE3163;
        color: white;
    }

    .moved {
        background-color: red;
        color: white;
    }


    table span {
        display: block;
        background-color: green;
        color: white;
        height: 20%;
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 0.5rem;
        border: 0.1px solid;
        cursor: move;
        z-index: 1;
    }

</style>

<div class="box">
    <div class="box-body">
        <div class="row">
            <div class="col-lg">
                <table class="table table-striped" id="targetTable" border="1">
                    <thead>
                        <tr>
                            <th>Line/Date</th>
                            <th>01/09/22</th>
                            <th>02/09/22</th>
                            <th>03/09/22</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th id="AA"><label class="event" id="A1">LineA</label></th>
                            <td id="AB"><span class="event" id="a10000" draggable="true">Order A1</span></td>
                            <td id="AC"><span class="event" id="a2" draggable="true">Order A2</span></td>
                            <td id="AD"><span class="event" id="a3" draggable="true">Order A3</span></td>
                        </tr>
                        <tr>
                            <th id="BA"><label id="B1">LineB</label></th>
                            <td id="BB"><span class="event" id="b1" draggable="true">Order B1</span></td>
                            <td id="BC"></td>
                            <td id="BD"></td>
                        </tr>
                        <tr>
                            <th id="CA"><label id="C1">LineC</label></th>
                            <td id="CB"></td>
                            <td id="CC"></td>
                            <td id="CD"><span class="event" id="c1" draggable="true">Order C1</span></td>
                        </tr>
                        <tr>
                            <th id="DA"><label id="D1">LineD</label></th>
                            <td id="DB"><span class="event" id="d1" draggable="true">Order D1</span></td>
                            <td id="DC"><span class="event" id="d2" draggable="true">Order D2</span></td>
                            <td id="DD"><span class="event" id="d3" draggable="true">Order D3</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">

       var SelectList=[];

        $(function() {

            var List = [];
             

            $('.event').on("mousedown mouseup", function(event) {
                event.ctrlKey = true;
                $(this).toggleClass("touched");
                //getIndex();
            });

            $('.event').on("click", function(event) {
                event.preventDefault();

                let dropRowIndex = this.parentElement.rowIndex;
                let dropCellIndex = this.cellIndex;

                var IDs = $(this).attr('id');
                let blockID = IDs.slice(0, 1);
                let serialID = Number(IDs.slice(1));

                console.log(SelectList);
                if (SelectList.length > 0) {
                    let HasBlock = SelectList.every(x => x.BlockID == blockID);
                    if (HasBlock) {
                        event.ctrlKey = true;
                        $(this).toggleClass("selected");
                        //$(this).addClass("touched");
                        var dt = event.originalEvent.dataTransfer;

                        let ItemIndex = SelectList.findIndex(x => x.BlockID === blockID && x.SerialID === serialID);
                        //console.log(ItemIndex);
                        if (ItemIndex >= 0) {
                            // remove object
                            SelectList.splice(ItemIndex, 1);
                        }
                        else {
                            let single = { BlockID: blockID, SerialID: serialID, ElementID: IDs, IsMoved:false };
                            SelectList.push(single);
                        }
                    }
                }
                else {
                    event.ctrlKey = true;
                    $(this).toggleClass("selected");
                    //$(this).addClass("touched");
                    var dt = event.originalEvent.dataTransfer;

                    let single1 = { BlockID: blockID, SerialID: serialID, ElementID: IDs, IsMoved: false };
                    SelectList.push(single1);
                }

                
                //getIndex();
            });

            initDragAndDrop();
            
        });

        function clearDragAndDrop() {
            $('.event').off();
            $('table td').off('dragenter dragover drop');
        }

        function initDragAndDrop() {

            let i = 0;
            $('.event').on('dragstart', function(event) {
                var dt = event.originalEvent.dataTransfer;
                dt.setData('Text', $(this).attr('id'));
                i = 0;
            });

            $('table td').on('dragenter dragover', function(event) {
                event.preventDefault();
                var data = event.originalEvent.dataTransfer.getData('Text', $(this).attr('id'));
            });

            $('table td').on('drag drop', function(event) {
                event.preventDefault();
                if (i === 0) {
                    if (event.type === 'drag') {
                        var data = event.originalEvent.dataTransfer.getData('Text', $(this).attr('id'));
                        var rowIndex = this.parentElement.rowIndex;
                        var cellIndex = this.cellIndex;

                        i = 1;
                    }
                }

                if (event.type === 'drop') {

                    let dropRowIndex = this.parentElement.rowIndex;
                    let dropCellIndex = this.cellIndex;
                    let dropFirstCell = this.cellIndex;

                    console.log("Drop Index: Row:" + dropRowIndex + " Cell:" + dropCellIndex);

                    //var vID = document.getElementById("targetTable").rows[dropRowIndex].cells[dropCellIndex].id
                    //alert("Next TD: " + vID);
                    //alert("TargetID= " + event.target.id);
                    //var value = document.getElementById(event.target.id).value;
                    //alert("ABC TD: " + value);
                   
                    
                    
                    if (SelectList.length > 0) {

                        let lenth = document.getElementById("targetTable").getElementsByTagName("tr")[i].getElementsByTagName("td").length;
                        console.log(lenth);

                        let dropRightCell = this.cellIndex;

                        for (let x of SelectList) {

                            if (dropRightCell <= lenth) {
                                var dropPlaceID = document.getElementById("targetTable").rows[dropRowIndex].cells[dropRightCell].id
                                var dropPlaceValue = document.getElementById(dropPlaceID).textContent;
                                console.log(dropPlaceValue)
                            if ((dropPlaceValue === "") || (dropPlaceValue === undefined)) {
                                //Place & Drop
                                de = $('#' + x.ElementID).detach();
                                de.appendTo($('#' + dropPlaceID))
                                $('#' + x.ElementID).addClass("moved");

                                x.IsMoved = true;

                            }
                            else {
                                break;
                               

                                //alert(dropPlaceValue);
                                //let ItemIndex = SelectList.findIndex(x => x.ElementID === x.ElementID);
                                //if (ItemIndex > 0) {
                                //    // remove object
                                //    SelectList.splice(ItemIndex, 1);
                                //}
                                //$('#' + x.ElementID).removeClass("touched");
                            }

                            dropRightCell += 1;
                            console.log("Drop Right-Position: Row:" + dropRowIndex + " Cell:" + dropRightCell);
                            }
                            else {
                                break;
                            }

                            
                        }

                        let dropLeftCell = this.cellIndex - 1;

                        for (let y of SelectList.filter(x=>x.IsMoved==false)) {


                            var dropPlaceID = document.getElementById("targetTable").rows[dropRowIndex].cells[dropLeftCell].id
                            var dropPlaceValue = document.getElementById(dropPlaceID).textContent;
                            console.log(dropPlaceValue)

                            if ((dropPlaceValue === "") || (dropPlaceValue === undefined)) {
                                //Place & Drop
                                de = $('#' + y.ElementID).detach();
                                de.appendTo($('#' + dropPlaceID))
                                $('#' + y.ElementID).addClass("moved");
                            }
                            else {
                                $('#' + y.ElementID).removeClass("selected");
                                break;
                            }

                            dropLeftCell += 1;
                            console.log("Drop Left-Position: Row:" + dropRowIndex + " Cell:" + dropLeftCell);
                        }

                        for (let z of SelectList.filter(x => x.IsMoved == false)) {
                            let ItemIndex = SelectList.findIndex(x => x.ElementID === z.ElementID);
                                if (ItemIndex > 0) {
                                    // remove object
                                    SelectList.splice(ItemIndex, 1);
                                }
                        }
                        
                        SelectList = [];
                        console.log(SelectList);
                    }
                    else {

                        let dropPlaceID = document.getElementById("targetTable").rows[dropRowIndex].cells[dropCellIndex].id
                        let dropPlaceValue = document.getElementById(dropPlaceID).textContent;
                        console.log(dropPlaceValue)

                        var data = event.originalEvent.dataTransfer.getData('Text', $(this).attr('id'));
                        if (dropPlaceValue === undefined) {
                            de = $('#' + data).detach();
                            de.appendTo($(this));
                            $('#' + data).addClass("moved");
                        }
                        else {
                            alert(data);
                            $('#' + data).removeClass("touched");

                        }


                    }

                    //-----------------------
                    //var data = event.originalEvent.dataTransfer.getData('Text', $(this).attr('id'));
                    //    if (event.target.id === undefined) {
                    //        de = $('#' + data).detach();
                    //        de.appendTo($(this));
                    //        $('#' + data).addClass("moved");

                    //        var rowIndex = this.parentElement.rowIndex;
                    //        var cellIndex = this.cellIndex;
                    //        console.log("Target--Row:" + rowIndex + " Cell:" + cellIndex);
                    //    }
                    //    else {
                    //        alert(data);
                    //        $('#' + data).removeClass("touched");

                    //    }
                    //-----------------------

                }
            });
        }

        function moveSelected($list, $selected) {
            $($selected).each(function() {
                $(this).fadeOut(function() {
                    $(this).appendTo($list).removeClass("selected").fadeIn();
                });
            });
        }
        function getIndex() {
            var table = document.getElementById("targetTable"), rIndex, cIndex;

            // table rows
            for (var i = 1; i < table.rows.length; i++) {
                // row cells
                for (var j = 0; j < table.rows[i].cells.length; j++) {
                    table.rows[i].cells[j].onclick = function() {
                        rIndex = this.parentElement.rowIndex;
                        cIndex = this.cellIndex;
                        console.log("Row : " + rIndex + " , Cell : " + cIndex);
                    };
                }
            }
        }
    </script>

    <script type="text/javascript">

        $(document).ready(function() {
            //         $(".droppable").droppable({
            //            drop: function(event, ui) {
            //                var $list = $(this);
            //                $helper = ui.helper;
            //                $($helper).removeClass("selected");
            //                var $selected = $(".selected");
            //                if($selected.length > 1){
            //                    moveSelected($list,$selected);
            //                }else{
            //                    moveItem(ui.draggable,$list);
            //                }
            //            }, tolerance: "touch"
            //         });

            //         $(".draggable").draggable({
            //            revert: "invalid",
            //            helper: "clone",
            //            cursor: "move",
            //            drag: function(event,ui){
            //                var $helper = ui.helper;
            //                $($helper).removeClass("selected");
            //                var $selected = $(".selected");
            //                if($selected.length > 1){
            //                    $($helper).html($selected.length + " items");
            //                }
            //            }
            //         });

            //        function moveSelected($list,$selected){
            //            $($selected).each(function(){
            //                $(this).fadeOut(function(){
            //                    $(this).appendTo($list).removeClass("selected").fadeIn();
            //                });
            //            });
            //        }

            //        function moveItem( $item,$list ) {
            //            $item.fadeOut(function() {
            //                $item.find(".item").remove();
            //                $item.appendTo( $list ).fadeIn();
            //            });
            //        }

            //        $(".item").click(function(){
            //            $(this).toggleClass("selected");
            //        });

        });
    </script>
}
